.card .card-image .card-title {
    text-shadow: 1px 1px black;
}

.btn-floating {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#notfoundbackground {
    background-image: url('../images/background.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
}

.site-notfound > h1,
.site-notfound > p {
    color: white;
    text-align: center;
}

.site-notfound {
    padding-top: 20%;
}

.game-profileimage {
    display: inline-block;
    float: left;
    position: absolute;
    margin-top: -150px;
    height: 200px;
    width: 200px;
    margin-left: 25px;
    border-radius: 50%;
    border: 5px solid black;
    overflow: hidden;
}

.fieldset {
    border: 3px solid #f9f9f9;
}

.game-info {
    margin-top: 10px;
}

.col.s10 .user-view .user-avatar {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.col.s10 .user-view {
    margin-top: 25px;
}

.profile-index .card-image:hover{
    opacity:0.5;
}

.game-torrents .collection .collection-item.avatar .secondary-content{
    display:inline-block;
    position: static;
    float: right;
}

.side-nav.fixed{
    width: 16%;
}